@charset "utf-8";
@font-face {
		font-family: 'NotethisRegular';
		src: url('fonts/Note_this.eot');
		src: local('Note this Regular'), local('Notethis'), url('fonts/Note_this.ttf') format('truetype');
	}
body{background:#090b44; /* Old browsers */
	background:-moz-radial-gradient(center, ellipse cover, #090b44 0%, #00001c 100%); /* FF3.6+ */
	background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#090b44), color-stop(100%,#00001c)); /* Chrome,Safari4+ */
	background:-webkit-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* Chrome10+,Safari5.1+ */
	background:-o-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* Opera 12+ */
	background:-ms-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* IE10+ */
	background:radial-gradient(ellipse at center, #090b44 0%,#00001c 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#090b44', endColorstr='#00001c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding:0;
	font-family:'open sans';
	margin:0;
	height:100%;
	padding-bottom:50px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;}
#mainDiv{width:100%;height:100%}
#loveHeart{float:left;width:670px;height:625px}
#garden{width:100%;height:100%;top:0;right:0;}
#elapseClock{text-align:right;font-size:18px;margin-top:10px;margin-bottom:10px}
#words{font-family:"sans-serif";width:500px;font-size:24px;color:#666}
#messages{display:none;color:#fb5a04;FONT-FAMILY:华文彩云,微软雅黑}
#elapseClock .digit{font-family:"digit";font-size:36px}
#loveu{padding:5px;font-size:22px;margin-top:80px;margin-right:120px;text-align:right;display:none;font-family:'NotethisRegular', Georgia, 'Times New Roman', serif;}
#loveu .signature{margin-top:10px;font-size:20px;font-style:italic}
#clickSound{display:none}
#code{float:left;width:440px;height:400px;color:#333;font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";font-size:12px}
#code .string{color:#2a36ff}
#code .keyword{float:left;color:#ff00ff;font-weight:bold;FONT-SIZE: 25px;FONT-FAMILY:华文彩云,微软雅黑}
#code .superleft{float:left;color:#80ff00;font-weight:bold;FONT-SIZE: 25px;FONT-FAMILY:华文新魏,微软雅黑}
#code .superright{float:right;color:#ffff00;font-weight:bold;FONT-SIZE: 25px;FONT-FAMILY:楷体,楷体_GB2312}
#code .placeholder{margin-left:15px}
#code .space{margin-left:7px}
#code .comments{float:left;FONT-SIZE: 20px; FILTER: shadow(color=#6495ED,strength=15); WIDTH: 100%; COLOR: #ffffff; LINE-HEIGHT: 150%; FONT-FAMILY:华文彩云}
#errorMsg{width:100%;text-align:center;font-size:24px;position:absolute;top:100px;left:0}
#copyright a{color:#666}

a{text-decoration:none;}
canvas{display:block;width:100%;height:100%;top:0;left:0;}